<div class="conteneur" data-controller="displaymenu" data-action="click->displaymenu#remove">
  <img src="<%= image_path ('logo')%>" alt="" id="logo">

  <!--
  <div class="profile-card d-flex justify-content-evenly align-items-center">
    <div class="user-avatar d-flex justify-content-center align-items-center" style="background-image: url('<%= image_path ('user-avatar')%>');">
      <img src="<%= image_path ('avatar-border')%>" alt="Avatar of the user">
    </div>
  </div>
  -->


  <div class="avatar-icon" style="background-image: url('<%= image_path ('user-avatar') %>'); background-size: cover;">
    <img src="<%= image_path ('avatar-border') %>" alt="" id="avatar-border">
    <div class="profile-card d-flex flex-column justify-content-end align-items-end">
      <div class="user-infos d-flex flex-column">
        <div class="d-flex flex-row justify-content-evenly align-items-center h-50">
          <i class="fa-solid fa-user fa-lg" style="color: #382C3D;"></i><h2 style="font-size: 1.2em; margin: 0;"><strong>Naomi_du_06</strong></h2>
        </div>
        <div class="d-flex flex-row justify-content-evenly align-items-center h-50 border-0">
          <p style="font-size: 1.2em; margin: 0;">Lv.50</p><p style="font-size: 1.2em; margin: 0;"><i class="fa-solid fa-bolt fa-lg" style="color: orange"></i> 75/100</p>
        </div>
      </div>
    </div>
  </div>

  <div class="town-icon">
    <img src="<%= image_path ('town-icon') %>" alt="">
  </div>

  <div class="icons-menu-left">
    <div class="facilities-icon" data-action="click->displaymenu#display" data-displaymenu-target="icon">
      <img src="<%= image_path ('facilities-icon') %>" alt="" class="hover-image">
      <div class="facilities-menu d-flex flex-column justify-content-evenly align-items-center" data-displaymenu-target="menu">
        <div class="structures-icon d-flex justify-content-between align-items-center">
          <img src="<%= image_path ('structures-icon')%>" alt="" id="s-icon">
          <!-- <div class="d-flex flex-column justify-content-evenly align-items-center"> -->
            <h3> Buildings</h3>
          <!--  <p class="m-0 text-primary" style="font-size: 90%;">0h 0m 38s</p> -->
          <!-- </div> -->
        </div>
        <div class="researches-icon d-flex justify-content-between align-items-center">
          <img src="<%= image_path ('researches-icon')%>" alt="" id="r-icon">
          <h3> Research</h3>
        </div>
        <div class="defenses-icon d-flex justify-content-between align-items-center">
          <img src="<%= image_path ('defenses-icon')%>" alt="" id="d-icon">
          <h3> Defenses</h3>
        </div>
      </div>
    </div>
    <div class="units-icon">
      <img src="<%= image_path ('units-icon') %>" alt="">
    </div>
    <div class="battle-icon">
      <img src="<%= image_path ('battle-icon') %>" alt="">
    </div>
  </div>



  <div class="icons-menu-right">
    <div class="facilities-icon">
      <img src="<%= image_path ('messages-icon') %>" alt="" class="hover-image">
    </div>
    <div class="units-icon">
      <img src="<%= image_path ('friends-icon') %>" alt="">
    </div>
    <div class="battle-icon">
      <img src="<%= image_path ('settings-icon') %>" alt="">
    </div>
  </div>

    <%# <div class="facilities-menu">
    </div> %>

  <div class="character-container">
    <img src="<%= image_path ('user-character')%>" alt="">
  </div>

  <%= render "shared/footer" %>

</div>







<!--
 <ul>
  <li>Base Name: <%= @homebase.name %></li>
  <li>User_Id: <%= @homebase.user_id %></li>
  <li>Coordinates: <%= @homebase.coordinates %></li>
  <li>Wood Quantity: <%= @homebase.wood_quantity %></li>
  <li>Stone Quantity: <%= @homebase.stone_quantity %></li>
  <li>Gold Quantity: <%= @homebase.gold_quantity %></li>
  <li>Food Quantity: <%= @homebase.food_quantity %></li>
  <li>Research Ongoing: <%= @homebase.research_ongoing %></li>
  <li>Construction Ongoing: <%= @homebase.construction_ongoing %></li>
  <li>Defense Ongoing: <%= @homebase.defense_ongoing %></li>
  </ul>

  <%= link_to 'Structures', "#path pour structures" %>
  <%= link_to 'Armies', "#path pour armies" %>
  <%= link_to 'Defenses', "#path pour defenses" %>
-->
