<ul>
<li>Base Name: <%= @homebase.name %></li>
<li>User_Id: <%= @homebase.user_id %></li>
<li>Coordinates: <%= @homebase.coordinates %></li>
<li>Wood Quantity: <%= @homebase.wood_quantity %></li>
<li>Stone Quantity: <%= @homebase.stone_quantity %></li>
<li>Gold Quantity: <%= @homebase.gold_quantity %></li>
<li>Food Quantity: <%= @homebase.food_quantity %></li>
<li>Research Ongoing: <%= @homebase.research_ongoing %></li>
<li>Construction Ongoing: <%= @homebase.construction_ongoing %></li>
<li>Defense Ongoing: <%= @homebase.defense_ongoing %></li>
</ul>

<%= link_to 'Structures', "#path pour structures" %>
<%= link_to 'Armies', "#path pour armies" %>
<%= link_to 'Defenses', "#path pour defenses" %>
