<%= link_to town_path(current_user.towns[0]) do %>
  <div class="back-button">
    <img src="<%= asset_path ('back-icon.png')%>" alt="" style="object-fit: cover; object-position: center; width: 80%;">
  </div>
<% end %>

<div>
  <%= link_to town_path(@city), class: "logo-link" do %>
    <%= image_tag 'logo.png', alt: "", id: "logo" %>
  <% end %>
  </div>

<div class="container chatroom">
  <h1><%= @chatroom.name %></h1>

  <div class="messages"
    data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
    <% @chatroom.messages.each do |message| %>
    <%= render "messages/message", message: message %>
    <% end %>

  </div>
<%= simple_form_for [@chatroom, @message],
  html: {class: "d-flex"} do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Message ##{@chatroom.name}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
</div>

  <div class="avatar-icon" style="background-image: url('<%= asset_path (current_user.avatar_url) %>'); background-size: cover;">
    <%= image_tag 'avatar-border.png', alt: "", id: "avatar-border"%>
    <div class="profile-card d-flex flex-column justify-content-end align-items-end">
      <div class="user-infos d-flex flex-column">
        <div class="d-flex flex-row justify-content-evenly align-items-center h-50">
          <i class="fa-solid fa-user fa-lg" style="color: #382C3D;"></i><h2 style="font-size: 1.2em; margin: 0;"><strong>Naomi_du_06</strong></h2>
        </div>
        <div class="d-flex flex-row justify-content-evenly align-items-center h-50 border-0">
          <p style="font-size: 1.2em; margin: 0;">Lv.50</p><p style="font-size: 1.2em; margin: 0;"><i class="fa-solid fa-bolt fa-lg" style="color: orange"></i> 75/100</p>
        </div>
      </div>
    </div>
  </div>
  </div>
