<%# <%= @user.name %>
<li><%= current_user.username %></li>
<li><%= current_user.email %></li>
<li><%= current_user.avatar_url%></li>
<li><%= current_user.nickname %></li>
<li><%= current_user.level %></li>
<li><%= current_user.experience %></li>
<li><%= current_user.energy %></li>

<li><%= link_to 'Edit', "#path to edit" %></li>
