<%# <%= @user.name %>
<li><%= @user.username %></li>
<li><%= @user.email %></li>
<li><%= @user.avatar_url%></li>
<li><%= @user.nickname %></li>
<li><%= @user.level %></li>
<li><%= @user.experience %></li>
<li><%= @user.energy %></li>

<li><%= link_to 'Edit', "#path to edit" %></li>
