
<!--

<div class="conteneur-bleu" style="background-image: url('<%= asset_path ('box-blue.png')%>'); background-size: cover;">
  <div class="conteneur-grille">
	  <div class="boite boite-1" style="--img: url('<%= asset_path ('fields.png')%>');">
      <div class="details">
        <h2><strong>Fields - Level 3</strong></h2>
        <p><strong>Production -</strong> <i class="fa-solid fa-tree" style="color: green"></i> 5/min</p>
        <p><strong>Requirements - </strong><i class="fa-solid fa-tree" style="color: green"></i> 10 <i class="fa-solid fa-gem" style="color: grey"></i> 20 <i class="fa-solid fa-coins" style="color: yellow"></i> 10</p>
        <div class="d-flex justify-content-center align-items-center w-100">
          <button class="btn btn-primary w-50"><strong>Upgrade</strong><br><i class="fa-solid fa-clock" style="color: orange"></i> 5 min</button>
        </div>
      </div>
    </div>
	  <div class="boite boite-2" style="--img: url('<%= asset_path ('mines.png')%>');"></div>
	  <div class="boite boite-3" style="--img: url('<%= asset_path ('sawmill.png')%>');"></div>
	  <div class="boite boite-4" style="--img: url('<%= asset_path ('bazar.png')%>');"></div>
  </div>
</div>
-->
