<footer>
  <div class="container mb-1"> <!-- Footer container margin de 1 -->
    <div class="row justify-content-center" data-controller="resources" data-resources-town-id-value="<%= @town.id %>"
      data-resources-energy-update-value="<%= current_user.energy_updated_at.to_i %>"
      data-resources-wood-production-value="<%= @town.structures.pluck(:wood_production).compact.sum %>"
      data-resources-stone-production-value="<%= @town.structures.pluck(:stone_production).compact.sum %>"
      data-resources-food-production-value="<%= @town.structures.pluck(:food_production).compact.sum %>"
      data-resources-gold-production-value="<%= @town.structures.pluck(:gold_production).compact.sum %>"
      data-resources-last-update-time-value="<%= @town.resources_updated_at.to_i %>">>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <img src="<%= image_path ('energy-bar')%>" alt="" id="energy-bar">
      </div>
      <% if @town %>
        <div class="col-5 d-flex justify-content-start align-items-center">
          <div class="resource-bar d-flex justify-content-evenly align-items-center">
            <div>
              <p class="m-0" style="font-size: 1.7em;"><i class="fa-solid fa-tree fa-lg" style="color: #372E3D"></i>  <%= @town.wood_quantity %></p>
            </div>
            <div>
              <p class="m-0" style="font-size: 1.7em;"><i class="fa-solid fa-burger fa-lg" style="color: #372E3D"></i>  <%= @town.food_quantity %></p>
            </div>
            <div>
              <p class="m-0" style="font-size: 1.7em;"><i class="fa-solid fa-gem fa-lg" style="color: #372E3D"></i>  <%= @town.stone_quantity %></p>
            </div>
            <div>
              <p class="m-0" style="font-size: 1.7em;"><i class="fa-solid fa-coins fa-lg" style="color: #372E3D"></i>  <%= @town.gold_quantity %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</footer>