<!-- FILEPATH: /home/steven/code/Rigueur/Battle_Of_Fantasy/app/views/battles/battle_result.html.erb -->

<!--

<h1>Battle Result</h1>

<p>Attacking Town: <%= @battle.attacking_town.name %></p>
<p>Attacking User: <%= @battle.attacking_town.user.nickname %></p>

<p>Defending Town: <%= @battle.defending_town.name %></p>
<p>Defending User: <%= @battle.defending_town.user.nickname %></p>

<p>Energy Cost: <%= @battle.energy_cost %></p>

<p>Result: <%= @battle.result %></p>

<p>Attacking Units lost:</p>
<ul>
  <% JSON.parse(@battle.attacking_units_lost.gsub('=>', ':')).each do |role, units| %>
    <li><%= role %>: <%= units %></li>
  <% end %>
</ul>

<p>Defending Units lost:</p>
<ul>
  <% JSON.parse(@battle.defending_units_lost.gsub('=>', ':')).each do |role, units| %>
    <li><%= role %>: <%= units %></li>
  <% end %>
</ul>

<p>Ressources won:</p>
<ul>
  <% JSON.parse(@battle.resources_won).each do |resource, quantity| %>
    <li><%= resource %>: <%= quantity %></li>
  <% end %>
</ul>

<%= link_to 'Back', town_path(@town) %>

-->


<div class="conteneur-bleu" style="background-image: url('<%= asset_path ('box-blue.png')%>'); background-size: cover;" data-controller="battleswiper">
  <div class="conteneur-interieur" style="width: 70%; height: 70%; display: flex; flex-direction: column; justify-content: between; align-items: center;" >
    <% if @battle.result == "Attacking army won" %>

      <div class="result-box d-flex flex-column justify-content-center align-items-center" style="border-bottom: solid 3px beige; width: 92%; height: 30%;">
        <h2 style="font-family: 'Modern Antiqua'; color: white; font-size: 3rem; margin: 0; text-align: center;"> VICTORY <i class="fa-solid fa-star" style="color: yellow;"></i> </h2>
        <p style="text-align: center; color: white; margin: 0;">You <span style="color: green;">won</span> against <%= @battle.defending_town.user.nickname.capitalize %></p>
      </div>
      <div class="units-lost-box d-flex flex-column justify-content-center align-items-center" style="width: 100%; height: 40%;">
        <h4 style="font-family: 'Modern Antiqua'; color: white; margin: 0; margin-bottom: 1rem; margin-top: 1rem; text-align: center;"> Units lost : </h4>
        <div class="swiper" style="width: 95%;">
          <div class="swiper-wrapper" style="width: 100%;">
          <% JSON.parse(@battle.attacking_units_lost.gsub('=>', ':')).each do |role_and_level, qty| %>
          <% role = role_and_level.scan(/(\w+)/)[0][0] %>
          <% level = role_and_level.scan(/(\w+)/)[1][0] %>
            <div class="swiper-slide d-flex justify-content-center align-items-center m-0 me-3" style="border-radius: 50px 50px 50px 50px;">
              <div class="user-infos d-flex flex-column justify-content-center align-items-center me-3" style="white-space: nowrap;">
                <h5 style="margin: 0; margin-left: 1.5rem; font-family: 'Mate SC'; display: inline block; color: white;"> Lv. <%= level %> </h5>
                <h5 style="margin: 0; margin-left: 1.5rem; font-family: 'Mate SC'; display: inline block; color: white;"> Qty: <%= qty %> </h5>
              </div>
              <div style="width: calc(100vw/18); height: calc(100vw/18); background-image: url('<%= asset_path (Unit.find_by(role: role).image_url) %>'); background-size: cover; background-position: center; border-radius: 50%;">
                <img src="<%= asset_path ('round border.png')%>" alt="" style="object-fit: cover; object-position: center; width: calc(100vw/18); height: calc(100vw/18);">
              </div>
            </div>
          <% end %>
          </div>
          <div class="swiper-scrollbar" style="height: 7px; padding: 2px;"></div>
        </div>
      </div>
      <div class="resources-gain-box d-flex flex-column justify-content-center align-items-center" style="height: 25%;">
        <h4 style="font-family: 'Modern Antiqua'; color: white; margin: 0; margin-bottom: 1rem; text-align: center;"> Resources gained : </h4>
        <p style="margin: 0; font-family: 'Karma'; font-size: 1.5rem; color: white;"> <i class="fa-solid fa-tree" style="color: green;"></i> <%= @battle.resources_won.scan(/(\w+)/)[1][0] %> <i class="fa-solid fa-gem" style="color: grey;"></i> <%= @battle.resources_won.scan(/(\w+)/)[3][0] %> <i class="fa-solid fa-burger" style="color: beige;"></i> <%= @battle.resources_won.scan(/(\w+)/)[5][0] %> <i class="fa-solid fa-coins" style="color: yellow;"></i> <%= @battle.resources_won.scan(/(\w+)/)[7][0] %></p>
      </div>

    <% elsif @battle.result == "Defending town won" %>

      <div class="result-box d-flex flex-column justify-content-center align-items-center" style="border-bottom: solid 3px beige; width: 92%; height: 30%;">
        <h2 style="font-family: 'Modern Antiqua'; color: white; font-size: 3rem; margin: 0; text-align: center;"> DEFEAT <i class="fa-solid fa-x" style="color: red;"></i> </h2>
        <p style="text-align: center; color: white; margin: 0;">You <span style="color: red;">lost</span> against <%= @battle.defending_town.user.nickname.capitalize %></p>
      </div>
      <div class="units-lost-box d-flex flex-column justify-content-center align-items-center" style="width: 100%; height: 40%;">
        <h4 style="font-family: 'Modern Antiqua'; color: white; margin: 0; margin-bottom: 1rem; margin-top: 1rem; text-align: center;"> Units lost : </h4>
        <div class="swiper" style="width: 95%;">
          <div class="swiper-wrapper" style="width: 100%;">
          <% JSON.parse(@battle.attacking_units_lost.gsub('=>', ':')).each do |role_and_level, qty| %>
            <% role = role_and_level.scan(/(\w+)/)[0][0] %>
            <% level = role_and_level.scan(/(\w+)/)[1][0] %>
            <div class="swiper-slide d-flex justify-content-center align-items-center m-0 me-3" style="border-radius: 50px 50px 50px 50px;">
              <div class="user-infos d-flex justify-content-center align-items-center me-3" style="white-space: nowrap;">
                <h5 style="margin: 0; margin-left: 1.5rem; font-family: 'Mate SC'; display: inline block; color: white;"> Lv. <%= level %> </h5>
                <h5 style="margin: 0; margin-left: 1.5rem; font-family: 'Mate SC'; display: inline block; color: white;"> Qty: <%= qty %> </h5>
              </div>
              <div style="width: calc(100vw/18); height: calc(100vw/18); background-image: url('<%= asset_path (Unit.find_by(role: role).image_url) %>'); background-size: cover; background-position: center; border-radius: 50%;">
                <img src="<%= asset_path ('round border.png')%>" alt="" style="object-fit: cover; object-position: center; width: calc(100vw/18); height: calc(100vw/18);">
              </div>
            </div>
            <% end %>
          </div>
          <div class="swiper-scrollbar" style="height: 7px; padding: 2px;"></div>
        </div>
      </div>
      <div class="resources-gain-box d-flex flex-column justify-content-center align-items-center" style="height: 25%;">
        <h4 style="font-family: 'Modern Antiqua'; color: white; margin: 0; margin-bottom: 1rem; text-align: center;"> Resources gained : </h4>
        <p style="margin: 0; font-family: 'Karma'; font-size: 1.5rem; color: white;"> <i class="fa-solid fa-tree" style="color: green;"></i> 0 <i class="fa-solid fa-gem" style="color: grey;"></i> 0 <i class="fa-solid fa-burger" style="color: beige;"></i> 0 <i class="fa-solid fa-coins" style="color: yellow;"></i> 0 </p>
      </div>

    <% elsif @battle.result == "Tactical retreat" %>

      <div class="result-box d-flex flex-column justify-content-center align-items-center" style="border-bottom: solid 3px beige; width: 92%; height: 30%;">
        <h2 style="font-family: 'Modern Antiqua'; color: white; font-size: 3rem; margin: 0; text-align: center;"> TACTICAL RETREAT <i class="fa-solid fa-person-running" style="color: orange;"></i> </h2>
        <p style="text-align: center; color: white; margin: 0;">You and <%= @battle.defending_town.user.nickname.capitalize %><span style="color: orange;">retreated.</span></p>
      </div>
      <div class="units-lost-box d-flex flex-column justify-content-center align-items-center" style="width: 100%; height: 40%;">
        <h4 style="font-family: 'Modern Antiqua'; color: white; margin: 0; margin-bottom: 1rem; margin-top: 1rem; text-align: center;"> Units lost : </h4>
        <div class="swiper" style="width: 95%;">
          <div class="swiper-wrapper" style="width: 100%;">
          <% JSON.parse(@battle.attacking_units_lost.gsub('=>', ':')).each do |role_and_level, qty| %>
            <% role = role_and_level.scan(/(\w+)/)[0][0] %>
            <% level = role_and_level.scan(/(\w+)/)[1][0] %>
            <div class="swiper-slide d-flex justify-content-center align-items-center m-0 me-3" style="border-radius: 50px 50px 50px 50px;">
              <div class="user-infos d-flex justify-content-center align-items-center me-3" style="white-space: nowrap;">
                <h5 style="margin: 0; margin-left: 1.5rem; font-family: 'Mate SC'; display: inline block; color: white;"> Lv. <%= level %> </h5>
                <h5 style="margin: 0; margin-left: 1.5rem; font-family: 'Mate SC'; display: inline block; color: white;"> Qty: <%= qty %> </h5>
              </div>
              <div style="width: calc(100vw/18); height: calc(100vw/18); background-image: url('<%= asset_path (Unit.find_by(role: role).image_url) %>'); background-size: cover; background-position: center; border-radius: 50%;">
                <img src="<%= asset_path ('round border.png')%>" alt="" style="object-fit: cover; object-position: center; width: calc(100vw/18); height: calc(100vw/18);">
              </div>
            </div>
          <% end %>
          </div>
          <div class="swiper-scrollbar" style="height: 7px; padding: 2px;"></div>
        </div>
      </div>
      <div class="resources-gain-box d-flex flex-column justify-content-center align-items-center" style="height: 25%;">
        <h4 style="font-family: 'Modern Antiqua'; color: white; margin: 0; margin-bottom: 1rem; text-align: center;"> Resources gained : </h4>
        <p style="margin: 0; font-family: 'Karma'; font-size: 1.5rem; color: white;"> <i class="fa-solid fa-tree" style="color: green;"></i> <%= @battle.resources_won.scan(/(\w+)/)[1][0] %> <i class="fa-solid fa-gem" style="color: grey;"></i> <%= @battle.resources_won.scan(/(\w+)/)[3][0] %> <i class="fa-solid fa-burger" style="color: beige;"></i> <%= @battle.resources_won.scan(/(\w+)/)[5][0] %> <i class="fa-solid fa-coins" style="color: yellow;"></i> <%= @battle.resources_won.scan(/(\w+)/)[7][0] %></p>
      </div>
      <% end %>
  </div>
</div>
