<%= link_to town_path(current_user.towns[0]) do %>
  <div class="back-button">
    <img src="<%= asset_path ('back-icon.png')%>" alt="" style="object-fit: cover; object-position: center; width: 80%;">
  </div>
<% end %>

<div class="conteneur-bleu" style="background-image: url('<%= asset_path ('box-blue.png')%>'); background-size: cover;" data-controller="swiper">
  <div class="swiper">
    <div class="swiper-wrapper" style="height: fit-content">
    <% Unit.roles.sort.select { |role| Unit.new(role: role, level: 1, town_id: @town.id).can_recruit? }.each do |role| %>
      <div class="swiper-slide unit">
        <img
          class="unit-img"
          src="<%= asset_path (Unit.find_by(role: role).image_url)%>"
          alt="<%=role%>" />

        <div class="unit-body" data-controller = "unit" data-unit-town-id = <%=@town.id%>>
          <div class="unit-detail">
            <div class="unit-infos">
              <h2 class="unit-name"><%= role.pluralize.capitalize %></h2>
              <p>
                <i class="fa-solid fa-burger fa-lg" style="color: beige"></i> <span data-unit-target="foodCost<%= role %>">0</span>
                <i class="fa-solid fa-coins fa-lg" style="color: yellow"></i> <span data-unit-target="goldCost<%= role %>">0</span>
                <i class="fa-solid fa-bolt fa-lg" style="color: orange"></i> <span data-unit-target="energyCost<%= role %>">0</span>
              </p>
            </div>
            <p style="font-size: 1.2rem;"><i class="fa-solid fa-users fa-lg" style="color: #382C3D"></i>  <%= instance_variable_get("@#{role.pluralize}").size %></p>
          </div>
              <%= simple_form_for([@town, @unit]) do |t|  %>
          <div class="unit-quantity">
            <%= t.hidden_field :role, value: role %>
            <%= t.number_field :qty, class:"unit-label text-center bg-success", placeholder: "0", min: 1, data: { action: "unit#updateCost", unit_target: "qty#{role}", role: role }  %>
            <%= t.submit "Recruit", class:"unit-recruit btn btn-primary" %>
            <a href=<%=role_index_town_units_path(@town, role)%> class= "unit-more btn btn-secondary">More</a>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
    <div class="swiper-scrollbar" style="position: relative; padding: 2px"></div>
  </div>
</div>
