<ul>
<li>Base Name: <%= @town.name %></li>
<li>User_Id: <%= @town.user_id %></li>
<li>Coordinates: <%= @town.coordinates %></li>
<li>Wood Quantity: <%= @town.wood_quantity %></li>
<li>Stone Quantity: <%= @town.stone_quantity %></li>
<li>Gold Quantity: <%= @town.gold_quantity %></li>
<li>Food Quantity: <%= @town.food_quantity %></li>
<li>Research Ongoing: <%= @town.research_ongoing %></li>
<li>Construction Ongoing: <%= @town.construction_ongoing %></li>
<li>Defense Ongoing: <%= @town.defense_ongoing %></li>
</ul>

<%= link_to 'Structures', "#path pour structures" %>
<%= link_to 'Armies', town_units_path(@town) %>
<%= link_to 'Defenses', "#path pour defenses" %>
