<!DOCTYPE html>
<html>
  <head>
    <title>BattleOfFantasy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body  style="height: 100vh; width: 100vw; overflow: hidden; background-image: url('<%= asset_path ('desert-base-1.png')%>'); background-size: cover;">
    <%# <div class="page-container" style="height:100vh; position: relative; z-index:-1;"> %>
      <%= yield %>
      <%= render "shared/footer" %>
      <%= render "shared/flashes" %>
    <%# </div> %>
  </body>
</html>
